# Data Cleaning & Feature Engineering

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv('../data/trips.csv')
df.head()

,usertype,zip_code_start,borough_start,neighborhood_start,zip_code_end,borough_end,neighborhood_end,start_day,stop_day,day_mean_temperature,day_mean_wind_speed,day_total_precipitation,trip_minutes,trip_count,unique_bikes_used,total_trip_minutes,avg_trip_minutes,median_trip_minutes,min_trip_minutes,max_trip_minutes
0,Subscriber,10065,Manhattan,Upper East Side,10168,Manhattan,Gramercy Park and Murray Hill,2023-03-22,2023-03-22,37.7,6.8,1.04,10,4,4,44.950000,11.237500,11.066667,8.383333,13.933333
1,Subscriber,10024,Manhattan,Upper West Side,10022,Manhattan,Gramercy Park and Murray Hill,2023-01-07,2023-01-07,9.7,6.3,0.00,20,2,2,37.266667,18.633333,15.016667,15.016667,22.250000
2,Subscriber,10023,Manhattan,Upper West Side,10035,Manhattan,East Harlem,2023-01-13,2023-01-13,43.6,7.8,0.59,20,3,3,63.316667,21.105556,21.233333,20.766667,21.316667
3,Subscriber,10001,Manhattan,Chelsea and Clinton,10199,Manhattan,Chelsea and Clinton,2023-01-31,2023-01-31,24.9,6.0,0.02,10,12,12,67.883333,5.656944,5.266667,4.600000,7.633333
4,Subscriber,11103,Queens,Northwest Queens,11101,Queens,Northwest Queens,2023-02-22,2023-02-22,48.7,6.8,0.06,20,6,6,103.066667,17.177778,17.116667,15.366667,19.283333

## 1. Data Cleaning

* Missing Data
* Duplicates
* Outliers

## 2. Feature Engineering

In [ ]:
# create holiday dummy variable based on US federal holidays 1 if not 0 
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2018-01-01', end='2018-12-31')
df['start_day'] = pd.to_datetime(df['start_day'])
df['holiday'] = df['start_day'].dt.normalize().isin(holidays).astype(int)

# create day of week variable as numeric and string
df['day_of_week_num'] = df['start_day'].dt.dayofweek
df['day_of_week'] = df['start_day'].dt.day_name()

,usertype,zip_code_start,borough_start,neighborhood_start,zip_code_end,borough_end,neighborhood_end,start_day,stop_day,day_mean_temperature,...,trip_minutes,trip_count,unique_bikes_used,total_trip_minutes,avg_trip_minutes,median_trip_minutes,min_trip_minutes,max_trip_minutes,holiday,day_of_week
0,Subscriber,10065,Manhattan,Upper East Side,10168,Manhattan,Gramercy Park and Murray Hill,2023-03-22,2023-03-22,37.7,...,10,4,4,44.950000,11.237500,11.066667,8.383333,13.933333,0,Wednesday
1,Subscriber,10024,Manhattan,Upper West Side,10022,Manhattan,Gramercy Park and Murray Hill,2023-01-07,2023-01-07,9.7,...,20,2,2,37.266667,18.633333,15.016667,15.016667,22.250000,0,Saturday
2,Subscriber,10023,Manhattan,Upper West Side,10035,Manhattan,East Harlem,2023-01-13,2023-01-13,43.6,...,20,3,3,63.316667,21.105556,21.233333,20.766667,21.316667,0,Friday
3,Subscriber,10001,Manhattan,Chelsea and Clinton,10199,Manhattan,Chelsea and Clinton,2023-01-31,2023-01-31,24.9,...,10,12,12,67.883333,5.656944,5.266667,4.600000,7.633333,0,Tuesday
4,Subscriber,11103,Queens,Northwest Queens,11101,Queens,Northwest Queens,2023-02-22,2023-02-22,48.7,...,20,6,6,103.066667,17.177778,17.116667,15.366667,19.283333,0,Wednesday